/* Executive Pro Texas A&M Maroon
--------------------------------------------- */
.executive-pro-maroon {
	h1,
	h2,
	h3,
	h4,
	h5,
	a,
	.entry-title a:hover,
	.footer-widgets .entry-title a:hover {
		color: #500000;
	}

	.entry-content a {
		text-decoration: underline;
	}

	.genesis-nav-menu a {
		color: #666;
	}

	.entry-title a,
	.site-title a,
	.site-title a:hover,
	.site-footer a {
		color: #222;
	}

	.content .entry-header .entry-meta .entry-comments-link a,
	.footer-widgets a,
	.genesis-nav-menu .current-menu-item > a,
	.genesis-nav-menu a:active,
	.slide-excerpt-border a,
	a.button {
		color: #FFF;
	}

	.comment-header .comment-meta a,
	.comment-metadata a {
		color: #BBB;
	}

	.enews-widget input[type="submit"],
	.content .entry-header .entry-meta .entry-comments-link,
	.genesis-nav-menu .current-menu-item > a,
	.archive-pagination li a {
		background-color: #500000;
	}

	.archive-pagination li a:hover,
	.archive-pagination li.active a {
		background-color: #590101;
	}

	a.button,
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		background-color: #670000;
	}

	a:hover.button,
	button:hover,
	input:hover[type="button"],
	input:hover[type="reset"],
	input:hover[type="submit"] {
		background-color: #7F0000;
	}
}
