.site-header {
  .title-area {
    text-align: center;
    margin-top: 28px;
    overflow: visible;
    .agp-header-notitle & {
      position: relative;
      margin-top: 5px;
    }
    .agp-header-outreach-pro-theme & {
      padding-top: 0;
    }

    @media screen and (min-width: 1024px){
      margin-top: 18px;
      overflow: visible;
      position: relative;
      z-index: 2;
      text-align: left;
    }

    .site-title {
      margin-bottom: 0;
      .agp-header-notitle & {
        position: absolute;
        left: 0;
        z-index: 1;
      }

      @media screen and (min-width: 1024px){
        width: 215px;
        display: inline-block;
        margin-top: 5px;
        text-align: left;
      }
      @media screen and (max-width: 1200px){
        // width: 155px;
      }
      @media screen and (min-width: 1201px){
        width: 215px;
      }
      
      a,
      a:hover {
        background-image: none;
        padding-top: 0;
      }
    }
  }
  .headerimage,
  .title-area .site-title {
    display: inline-block;
    vertical-align: middle;
  }
  .headerimage {
    margin-right: 16px;
    margin-left: 16px;
    .agp-header-notitle & {
      margin-right: 0;
      position: relative;
      z-index: 2;
      @media screen and (min-width: 1024px){
        margin-right: 0px;
      }
    }

    @media screen and (min-width: 1024px){
      vertical-align: top;
      float: left;
      margin: 0 10px 5px 0;
      .agp-header-executive-pro-theme & {
        margin-right: 5px;
      }
    }
  }
  @media screen and (min-width: 1024px){
    .header-widget-area {
      position: relative;
      z-index: 1;
    }
  }
}
