
/* Outreach Pro Texas A&M Maroon
--------------------------------------------- */

.outreach-pro-maroon .content .entry-title a:hover,
.outreach-pro-maroon .content #genesis-responsive-slider a,
.outreach-pro-maroon .content #genesis-responsive-slider h2 a:hover,
.outreach-pro-maroon .nav-secondary .genesis-nav-menu .current-menu-item > a,
.outreach-pro-maroon .nav-secondary .genesis-nav-menu .sub-menu a:hover,
.outreach-pro-maroon .nav-secondary .genesis-nav-menu a:hover,
.outreach-pro-maroon .nav-secondary .genesis-nav-menu li:hover > a,
.outreach-pro-maroon .widget-title,
.outreach-pro-maroon a {
  color: #900000;
}

.outreach-pro-maroon a:hover {
  color: #7f0000;
}

.outreach-pro-maroon .content #genesis-responsive-slider a:hover,
.outreach-pro-maroon .content #genesis-responsive-slider h2 a,
.outreach-pro-maroon .footer-widgets .widget-title,
.outreach-pro-maroon .genesis-nav-menu a,
.outreach-pro-maroon .nav-secondary .genesis-nav-menu .sub-menu a,
.outreach-pro-maroon .nav-secondary .genesis-nav-menu .sub-menu,
.outreach-pro-maroon .site-footer a:hover,
.outreach-pro-maroon .site-header .widget-title,
.outreach-pro-maroon .site-title a,
.outreach-pro-maroon .site-title a:hover {
  color: #fff;
}

.outreach-pro-maroon .site-footer a {
  color: #666;
}

.outreach-pro-maroon .genesis-nav-menu .sub-menu a,
.outreach-pro-maroon .home-bottom .widget-title {
  color: #333;
}

.outreach-pro-maroon .genesis-nav-menu a:hover,
.outreach-pro-maroon .genesis-nav-menu .current-menu-item > a,
.outreach-pro-maroon .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
  color: #000;
}

.outreach-pro-maroon .archive-pagination .active a,
.outreach-pro-maroon .archive-pagination li a:hover,
.outreach-pro-maroon .button,
.outreach-pro-maroon .nav-primary,
.outreach-pro-maroon button,
.outreach-pro-maroon input[type="button"],
.outreach-pro-maroon input[type="reset"],
.outreach-pro-maroon input[type="submit"] {
  background-color: #500000;
  color: #fff;
}

.outreach-pro-maroon .button:hover,
.outreach-pro-maroon .site-header,
.outreach-pro-maroon button:hover,
.outreach-pro-maroon input:hover[type="button"],
.outreach-pro-maroon input:hover[type="reset"],
.outreach-pro-maroon input:hover[type="submit"] {
  background-color: #360000;
  color: #fff;
}

.outreach-pro-maroon .sub-footer {
  background-color: #ececec;
}

.outreach-pro-maroon .enews-widget input:hover[type="submit"] {
  background-color: #eee;
  color: #333;
}
